.clean-container {
    position: absolute;
    top: 0;
}

.instructions {
    font-size: 4em;
    text-align: center;
    color: var(--secondary-color);
    justify-content: center;
}

.input {
    width: 28rem;
}

.submit-button {
    background-color: var(--foreground-color);
    border: none;
    margin-left: 1rem;
}

.submit-button:disabled {
    background-color: var(--secondary-color);
    border: none;
}