.clean-container {
    position: absolute;
    top: 0;
    width: 99%;
    height: 99%;
}

.instructions {
    text-align: center;
    color: var(--secondary-color);
    justify-content: center;
    font: 4em 'Righteous';
}

.input {
    width: 28rem;
}

.submit-button {
    background-color: var(--foreground-color) !important;
    border: none;
    margin-left: 1rem;
    height: 4rem;
    width: 4rem;
}