.playlist-container {
    margin-top: var(--margin-top);
}

.playlist-card {
    border-radius: 6rem;
    border-width: 0.3rem;
    border-color: var(--background-color);
    cursor: pointer;
}

.playlist-card.image {
    filter: brightness(50%);
    background-size: contain;
}

.playlist-card.name {
    color: white;
    font-size: 3rem;
    margin: 8%;
}