@import url(https://fonts.googleapis.com/css?family=Righteous);

.playlist-card {
    border-radius: 6rem;
    border-width: 0.3rem;
    
    border-color: var(--background-color);
    cursor: pointer;
    overflow: hidden;

    width: 25rem;
    height: 25rem;

    &.large {
        width: 40rem;
        height: 40rem;
    }
}

.playlist-image {
    filter: brightness(50%);
}

.playlist-name {
    color: white;
    font: 2.7em 'Righteous';
    padding: 10%;
}