.playlist-card {
    border-radius: 6rem;
    border-width: 0.3rem;
    border-color: var(--background-color);
    cursor: pointer;
    overflow: hidden;
    width: 25rem;
    height: 25rem;
}

.playlist-card.image {
    filter: brightness(50%);
}

.playlist-card.name {
    color: white;
    font-size: 2.8rem;
    padding: 10%;
}