.playlist-container {
    margin-top: 1.5rem;
}

.playlist-card {
    border-radius: 2rem;
    border-width: 0.3rem;
    border-color: var(--background-color);
}

.playlist-card.clickable {
    cursor: pointer;
}

.playlist-card.selected {
    border-width: 1rem;
    border-radius: 3rem;
    border-color: black;
}

.playlist-card.image {
    filter: brightness(50%);
}

.playlist-card.name {
    color: white;
    font-size: 3rem;
}