:root {
    --spinner-size: 25rem;
}

.container-fluid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.spinner {
    width: var(--spinner-size);
    height: var(--spinner-size);
    border-width: 3rem;
    color: var(--secondary-color);
}

.spinner.message {
    position: relative;
    top: 0;
}

.message {
    position: relative;
    font-size: 5em;
    color: var(--secondary-color);
    top: -6rem;
}