:root {
    --background-color: #f9f8f8;
}

.navbar {
    background-color: #967dce;
}

.navbar-light .navbar-brand {
    color:var(--background-color);
}

.col-sign-in {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-sign-in {
    margin-top: 0.5rem;
}

.btn-sign-in.spotify {
    background-color: #1db954;
    color: white;
}