:root {
    --foreground-color: #967dce;
    --secondary-color: #c4a386;
    --background-color: #f2e9e9;
}

.navbar {
    background-color: var(--foreground-color);
}

.navbar-brand {
    color: var(--background-color) !important;
}

.btn-sign-in.spotify {
    background-color: #1db954;
    color: white;
}