.main {
    background-color: #fff4e0;
}

.header {
    background-color: #15afea;
    color: #ea5015;
}

.col-sign-in {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-sign-in {
    margin: 0.25rem;
}

.btn-sign-in.spotify {
    background-color: #1db954;
    color: #ffffff
}